{% load thumbnail %}
<article>
  <ul class="list-group">
    {% if show_author %}
      <li class="list-group-item list-group-item-light">
        Автор:
        {% if post.author.get_full_name %}
          {{ post.author.get_full_name }}
        {% else %}
          {{ post.author }}
        {% endif %}
      </li>
    {% endif %}
    <li class="list-group-item list-group-item-light">
      Дата публикации: <strong>{{ post.pub_date|date:"d E Y" }}</strong>
    </li>
  </ul>
  <div class="card bg-light" style="width: 100%">
    {% thumbnail post.image "700x500"  upscale=True as im %}
    <img class="card-img-top" src="{{ im.url }}">
  {% endthumbnail %}
  <div class="card-body">
    <p class="card-text">{{ post.text|linebreaksbr }}</p>
  </div>
</div>
</article>
{% if not forloop.last %}<hr>{% endif %}
